<!-- Twitter Bootstrap navbar -->
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="http://swapnagupta.com/">Swapna Gupta</a>
            <div class="nav-collapse">
                <ul class="nav pull-right">
                    <li>
                        <a href="https://twitter.com/septerr">
                            @septerr
                        </a>
                    </li>
                    <li>
                        <a href="http://feeds.feedburner.com/swapnagupta">
                            rss
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>