body {
    background-color: #ffffff;
    font-style: normal;
    font-size: 20px;
    font-weight: 200;
    color: #615e5c;
    line-height: 33px;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Lato', sans-serif;
    /*font-family: 'Oxygen', sans-serif;*/
}

#wrapper {
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}

#header {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
#header a {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 400;
    color: #615e5c;
}

a {
    color: #f3734f;
    text-decoration: none;
}

#post-summaries, #post-wrapper, #header {
    margin-left: 70px;
    margin-right: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

.post-summary, #post {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-title, .post-title a {
    font-size: 2em;
    line-height: 1em;
    font-weight: 100;
    color: #615e5c;

}

.post-content {
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 300;
}

.post-timestamp, .post-readmore {
    font-weight: 300;
}

#bird-right-top {
width: 250px;
height: 117px;
position: absolute;
top:0;
right:0;
background-image: url("/assets/img/birdsetc/bird.gif");
}

.social-icon {
    cursor:pointer;
}

#rss {
width: 55px;
height: 55px;
position: absolute;
top:100px;
left:210px;
background-image: url("/assets/img/social/rss.png");
}

#twitter {
    width: 55px;
    height: 55px;
    position: absolute;
    top: 25px;
    left: 130px;
    background-image: url('/assets/img/social/twitter.png');
}
#pen{
    width:40px;
    height:71px;
    position: absolute;
    top:20px;
    left: 250px;
    background-image: url('/assets/img/social/pen.png');
}
#linkedin{
    width:72px;
    height:72px;
    position: absolute;
    top:85px;
    left: 140px;
    background-image: url('/assets/img/social/linkedin.png');
}
#github{
    width:60px;
    height:65px;
    position: absolute;
    top:80px;
    left: 300px;
    background-image: url('/assets/img/social/github.png');
}
#dribbble{
    width:50px;
    height:50px;
    position: absolute;
    top:85px;
    left: 400px;
    background-image: url('/assets/img/social/dribbble.png');
}
#i-need-invite{
    position: absolute;
    top:92px;
    left: 450px;
    font-weight: 300;
    display:none;
}